<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="">
    <section class="info">
        academic_preference_programme_type: <%= academic_preference_programme_type %>,</br>
            academic_preference_study_destination: <%= academic_preference_study_destination %>,</br>
                academic_preference_prefferred_institute_first: <%= academic_preference_prefferred_institute_first %>
                    ,</br>
                    academic_preference_prefferred_institute_second: <%= academic_preference_prefferred_institute_second
                        %>,</br>
                        academic_preference_study_course_first: <%= academic_preference_study_course_first %>,</br>
                            academic_preference_study_course_second: <%= academic_preference_study_course_second %>
                                ,</br>
                                academic_preference_start_month: <%= academic_preference_start_month %>,</br><br>
                                    student_details_fullname: <%= student_details_fullname %>,</br>
                                        student_details_dob: <%= student_details_dob %>,</br>
                                            student_details_gender: <%= student_details_gender %>,</br>
                                                student_details_nationality: <%= student_details_nationality %>,</br>
                                                    student_details_address: <%= student_details_address %>,</br>
                                                        student_details_city: <%= student_details_city %>,</br>
                                                            student_details_phone: <%= student_details_phone %>,</br>
                                                                student_details_email: <%= student_details_email %>
                                                                    ,</br><br>
                                                                    education_history_high_school_start: <%=
                                                                        education_history_high_school_start %>,</br>
                                                                        education_history_high_school_end: <%=
                                                                            education_history_high_school_end %>,</br>
                                                                            education_history_high_school_name: <%=
                                                                                education_history_high_school_name %>
                                                                                ,</br>
                                                                                education_history_high_school_certificate:
                                                                                <%= education_history_high_school_certificate
                                                                                    %></br>
                                                                                    education_history_tertiary_institution:
                                                                                    <%= education_history_tertiary_institution
                                                                                        %>,</br>
                                                                                        education_history_course_studied:
                                                                                        <%= education_history_course_studied
                                                                                            %>,</br>
                                                                                            education_history_start_date:
                                                                                            <%= education_history_start_date
                                                                                                %>,</br>
                                                                                                education_history_end_date:
                                                                                                <%= education_history_end_date
                                                                                                    %>,</br>
                                                                                                    education_history_grade:
                                                                                                    <%= education_history_grade
                                                                                                        %>,</br><br>
                                                                                                        guardian_details_fullname:
                                                                                                        <%= guardian_details_fullname
                                                                                                            %>,</br>
                                                                                                            guardian_details_gender:
                                                                                                            <%= guardian_details_gender
                                                                                                                %>,</br>
                                                                                                                guardian_details_nationality:
                                                                                                                <%= guardian_details_nationality
                                                                                                                    %>
                                                                                                                    ,</br>
                                                                                                                    guardian_details_address:
                                                                                                                    <%= guardian_details_address
                                                                                                                        %>
                                                                                                                        ,</br>
                                                                                                                        guardian_details_city:
                                                                                                                        <%= guardian_details_city
                                                                                                                            %>
                                                                                                                            ,</br>
                                                                                                                            guardian_details_phoneNumber:
                                                                                                                            <%= guardian_details_phoneNumber
                                                                                                                                %>
                                                                                                                                ,</br>
                                                                                                                                guardian_details_email:
                                                                                                                                <%= guardian_details_email
                                                                                                                                    %>
                                                                                                                                    ,</br>
                                                                                                                                    guardian_details_guardian_age:
                                                                                                                                    <%= guardian_details_guardian_age
                                                                                                                                        %>
                                                                                                                                        ,</br><br>
                                                                                                                                        emergency_contact_fullname:
                                                                                                                                        <%= emergency_contact_fullname
                                                                                                                                            %>
                                                                                                                                            ,</br>
                                                                                                                                            emergency_contact_gender:
                                                                                                                                            <%= emergency_contact_gender
                                                                                                                                                %>
                                                                                                                                                ,</br>
                                                                                                                                                emergency_contact_nationality:
                                                                                                                                                <%= emergency_contact_nationality
                                                                                                                                                    %>
                                                                                                                                                    ,</br>
                                                                                                                                                    emergency_contact_address:
                                                                                                                                                    <%= emergency_contact_address
                                                                                                                                                        %>
                                                                                                                                                        ,</br>
                                                                                                                                                        emergency_contact_city:
                                                                                                                                                        <%= emergency_contact_city
                                                                                                                                                            %>
                                                                                                                                                            ,</br>
                                                                                                                                                            emergency_contact_phone:
                                                                                                                                                            <%= emergency_contact_phone
                                                                                                                                                                %>
                                                                                                                                                                ,</br>
                                                                                                                                                                emergency_contact_email:
                                                                                                                                                                <%= emergency_contact_email
                                                                                                                                                                    %>
                                                                                                                                                                    ,</br><br>
                                                                                                                                                                    crimainal_record_dismissed:
                                                                                                                                                                    <%= crimainal_record_dismissed
                                                                                                                                                                        %>
                                                                                                                                                                        ,</br>
                                                                                                                                                                        crimainal_record_convicted:
                                                                                                                                                                        <%= crimainal_record_convicted
                                                                                                                                                                            %>
                                                                                                                                                                            ,</br>
                                                                                                                                                                            crimainal_record_denied_visa:
                                                                                                                                                                            <%= crimainal_record_denied_visa
                                                                                                                                                                                %>
                                                                                                                                                                                ,</br><br>
                                                                                                                                                                                financial_info_annual_fund:
                                                                                                                                                                                <%= financial_info_annual_fund
                                                                                                                                                                                    %>
                                                                                                                                                                                    ,</br>
                                                                                                                                                                                    financial_info_responsibility:
                                                                                                                                                                                    <%= financial_info_responsibility
                                                                                                                                                                                        %>
                                                                                                                                                                                        ,</br><br>
                                                                                                                                                                                        standard_testing_date:
                                                                                                                                                                                        <%= standard_testing_date
                                                                                                                                                                                            %>
                                                                                                                                                                                            ,</br>
                                                                                                                                                                                            standard_testing_test_type:
                                                                                                                                                                                            <%= standard_testing_test_type
                                                                                                                                                                                                %>
                                                                                                                                                                                                ,</br>
                                                                                                                                                                                                standard_testing_score:
                                                                                                                                                                                                <%= standard_testing_score
                                                                                                                                                                                                    %>
                                                                                                                                                                                                    ,</br>
    </section>
</body>

</html>